<html>

<head>
    <title>Created Page</title>
</head>

<body>
    <div class="container">
        <h1>Submitted Info:</h1>
        <p>Name:@ViewBag.Name</p>
        <p>Location:@ViewBag.location</p>
        <p>Languages:@ViewBag.language</p>
        <p>Comment:@ViewBag.description</p>
        <a href="/">Go Back</a>
    </div>
</body>

</html>